.page {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
mat-toolbar {
  background-color: black;
  color: whitesmoke;
}
.logo {
  width: 50px;
  display: inline-block;

  margin-right: 10px;
}
a{
  color: white;
  text-decoration:none;
}
.example-spacer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.logout {
  margin-left: 20px;
}
.content {
  height: 100%;
  margin-top: 30px;
  box-shadow: 0px 1px 14px 4px rgba(150,144,150,1);
}
.header {
  margin-top: 20px;
}
p {
  margin-top: 20px;
}
