#login {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/abstraction.jpeg');
  background-size: cover;
  background-color: #cccccc;
  .login-wrapper {
    width: 400px;
    height: 650px;

    .login-title {
      text-align: center;
      margin-top: 1%;
      margin-bottom: 5%;
      .logo {
        width: 100px;
        margin: 15px auto;
      }
    }
    form {
      width: 100%;
      text-align: center;

      mat-form-field {
        width: 80%;
      }

      mat-checkbox {
        margin: 0;
      }
      .description {
        margin-bottom: 15px;
      }
      .remember-forgot-password {
        font-size: 13px;
        margin-top: 8px;

        .remember-me {
          margin-bottom: 16px
        }

        .forgot-password {
          font-size: 13px;
          font-weight: 600;
          margin-bottom: 16px
        }
      }

      .submit-button {
        width: 80%;
        margin: 16px auto;
        display: block;

      }
    }
  }
}

