.create-dialog {

}

.header {

}

.header-content {
  display: flex;
  align-items: center;
}

.header-name {
  font-size: 25px;
  margin-left: 20px;

}

.icon {
  font-size: 40px;
  margin-left: 20px;
  color:slategray;
}
.extension-form {
  margin-left: 35px;
  margin-top: 30px;
}
.submit {
  margin-left: 20px;
}
